<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="/fragments/fragmento :: head"></div>
<title>
    PaginaHome
</title>
<body>

<div th:replace="/fragments/fragmento :: Navigation"></div>

<div th:replace="~{/fragments/fragmento :: header}"></div>
<section class="py-5" >

    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-left">
            <div class="col mb-5" th:each="Lista: ${produtoLista}" >
                <div class="card h-100" >
                    <!-- Product image-->
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- Product details-->

                    <div class="card-body p-4" >
                        <div class="text-center">
                            <!-- Product name-->


                            <h5 class="fw-bolder" th:text="${Lista.nome}"></h5>

                            <!-- Product price  th:href="@{'deletar/'+ ${Lista.id}}"-->

                            <div class="alinhar"><p>$</p><p th:text="${Lista.preco}"></p></div>
                                <p th:text="${Lista.categoria}"></p>
                            <p th:text="${Lista.concentracao}"></p>
                                <a th:href="@{'deletar/'+ ${Lista.id}}">Deletar</a>
                            <a th:href="@{'editarPag/'+ ${Lista.id}}">Editar</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:replace="~{/fragments/fragmento :: footer}"></div>
<div th:replace="~{/fragments/fragmento :: script}"></div>

</body>
</html>